<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/ChatStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>ChatUp</title>
</head>
<%- include('../navbar'); -%>
<body class="body">
    <div class='container'>
        <main class="main">
            <div id="cons" class="cons">
                    <% activeRoom[0].Messages.forEach(msg => { %>
                        <% if(user.dataValues.id === msg.UserId){ %>
                            <div class="poc">
                                <div class="_2hqOq message-in" tabindex="-1">
                                    <div class="_2et95 my">
                                        <span data-testid="tail-in" data-icon="tail-in" class="_2-dPL"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 13" width="8" height="13"><path opacity=".13" fill="#0000000" d="M1.533 3.568L8 12.193V1H2.812C1.042 1 .474 2.156 1.533 3.568z"></path><path fill="currentColor" d="M1.533 2.568L8 11.193V0H2.812C1.042 0 .474 1.156 1.533 2.568z"></path></svg></span>
                                        <span dir="auto" class="_3Whw5">
                                            <span class="messagon"><%= msg.message %></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="poc">
                                <div class="_2hqOq message-out" tabindex="-1">
                                    <div class="_2et95 _2et95-No-ziv">
                                        <span data-testid="tail-out" data-icon="tail-out" class="_2-dPL"><svg xmlns="http://www.w3.org/2000/svg" class="friend" viewBox="0 0 8 13" width="8" height="13"><path opacity=".13" d="M5.188 1H0v11.193l6.467-8.625C7.526 2.156 6.958 1 5.188 1z"></path><path fill="currentColor" d="M5.188 0H0v11.193l6.467-8.625C7.526 1.156 6.958 0 5.188 0z"></path></svg></span>
                                        <span dir="auto" class="_3Whw5">
                                            <b class="hi">:<%= msg.UserId %></b><br><span class="messagon"><%= msg.message %></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% }) %>
            </div>
            <div id="send" class="send _3uMse"> 
                 <input type="text" id="message-here" class="my-message-box" placeholder="your Message here"/>
            </div>
        </main>

        <span class="alert" style="display: none;"><%= flash %></span>

        <div class="sidebar">
            <button class="btn-new-room"><a href="/Chatup/NewRoom">Create Room</a></button>

            <ul id="room-list" class="room-list">
                <% rooms.dataValues.ChatRooms.forEach(room => { %>
                    <% if(room.roomName==='iceCream') { %>
                        <li class="active room"><div class="parent"><span class="roomname"><%= room.roomName %></span> <i class='material-icons remove'>delete</i></div></li>
                    <% } else { %>
                        <li class="room"><div class="parent"><span class="roomname"><%= room.roomName %></span> <i class='material-icons remove'>delete</i></div></li>
                    <% } %>
                <% }) %>
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <script src="/socket.io/socket.io.js"></script>

    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/script.js"></script>
</body>
</html>